.detailContainer {
  display: flex;
  flex-direction: column;
  width: 310px;
  height: auto;
  background-color: rgba(122, 230, 212, 0.774);
  border-radius: 10px;
  margin: 10px;
  padding-bottom: 20px;
  transition: 0.3s ease;
  color: rgb(252, 251, 251);
  user-select: none;
  flex-grow: 2;
  flex-basis: 350px;
  animation: fadeInOut 5s ease-in-out infinite;
  padding: 5px;
  padding-bottom: 20px;
}

.detailContainer p {
  margin: 5px;
}

.bord {
  position: relative;
  padding-left: 20px;
}

.detailContainer h3 {
  color: rgb(5, 5, 5);
}

.cross {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}

.error {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 0, 0);
  border-radius: 5px;
}

.loading {
  font-size: 20px;
  color: white;
  margin: 0;
  animation: fadeInOutFast 0.3s ease-in-out infinite;
}

@media (width < 901px) {
  .detailContainer {
    min-width: 320px;
    width: 80%;
    margin: 0px;
  }

  .bord {
    padding-left: initial;
  }

  .bord::before {
    display: none;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInOutFast {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}
