.pageContainer {
  display: flex;
  justify-content: center;
}

.page {
  width: 10px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(10, 10, 10, 0.425);
  border-radius: 5px;
  padding: 3px 10px;
  margin: 2px;
  cursor: pointer;
}

.pageActive {
  background-color: rgba(56, 150, 173, 0.5);
  pointer-events: none;
}

.page.disabled {
  pointer-events: none;
  color: grey;
  cursor: default;
}

@media (width < 400px) {
  .page {
    margin: 1px;
  }
}
