.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.formInput {
  border-radius: 8px;
  background-color: #1a1a1a88;
  color: white;
  border: 1px solid rgb(119, 118, 118);
  height: 2.1em;
  width: 60%;
  margin: 10px;
  transition: 0.3s ease;
}

.formInput:hover {
  box-shadow: 0px 0px 10px 4px #a5a5a596;
}

.formForm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.ups {
  font-size: 20px;
  color: white;
  margin: 0;
}

.title {
  display: flex;
  flex-direction: column;
  flex-shrink: 10;
}

.title h2 {
  text-shadow: 0px 0px 30px #ee8206;
}

.errorBtn {
  margin: 10px;
  background-color: rgb(255, 0, 0);
}

.errorBtn:hover {
  border-color: rgb(255, 238, 0);
}

.errorBtn:active {
  background-color: rgb(255, 238, 0);
  color: #2b2b2b;
}
